<link rel="import" href="/sys/uniform.css/components/uni-date-picker/uni-date-picker.html">
<link rel="preload" as="style" href="/sys/uniform.css/uniform.css">
<link rel="import" href="/KitchenSink/elements/github-source-links.html">

<template>
    <dom-bind>
        <template is="dom-bind">
            <h1 slot="kitchensink/datepicker-heading">Datepicker</h1>

            <p slot="kitchensink/datepicker-description">
                JSON's primitive value type
                <code>string</code> can be mapped directly to HTML form
                <code>input type="text"</code> with a datepicker. In this example we used
                <code>uni-date-picker</code>, which is distributed with Starcounter and gives a consistent-looking date picker among all apps.
            </p>

            <label slot="kitchensink/datepicker-label">Date</label>
            <input slot="kitchensink/datepicker-date"
                   type="date"
                   min="1920-01-01"
                   value="{{model.Value$::change}}"
                   placeholder="Pick a date" />

            <label slot="kitchensink/datepicker-year-label">Year</label>

            <input slot="kitchensink/datepicker-year-input" type="text" value="{{model.Year}}" readonly="readonly">

            <label slot="kitchensink/datepicker-month-label">Month</label>

            <input slot="kitchensink/datepicker-month-input" type="text" value="{{model.Month}}" readonly="readonly">

            <label slot="kitchensink/datepicker-day-label">Day</label>

            <input slot="kitchensink/datepicker-day-input" type="text" value="{{model.Day}}" readonly="readonly">
            <github-source-links base="{{model.Html}}"></github-source-links>
        </template>
    </dom-bind>
    <template is="declarative-shadow-dom">
        <link rel="stylesheet" href="/sys/uniform.css/uniform.css">
        <div class="uni-section-secondary uni-title">
            <slot name="kitchensink/datepicker-heading"></slot>
        </div>
        <div class="uni-section-primary">
            <div class="uni-card">
                <slot name="kitchensink/datepicker-description"></slot>
                <div class="uni-label-control">
                    <slot name="kitchensink/datepicker-label"></slot>
                    <uni-date-picker>
                        <slot name="kitchensink/datepicker-date"></slot>
                    </uni-date-picker>
                </div>
                <div class="uni-label-control">
                    <slot name="kitchensink/datepicker-year-label"></slot>
                    <slot name="kitchensink/datepicker-year-input"></slot>
                </div>
                <div class="uni-label-control">
                    <slot name="kitchensink/datepicker-month-label"></slot>
                    <slot name="kitchensink/datepicker-month-input"></slot>
                </div>
                <div class="uni-label-control">
                    <slot name="kitchensink/datepicker-day-label"></slot>
                    <slot name="kitchensink/datepicker-day-input"></slot>
                </div>
            </div>
        </div>
    </template>
</template>
