<link rel="preload" as="style" href="/sys/uniform.css/uniform.css">
<link rel="import" href="/KitchenSink/elements/github-source-links.html">

<template>
    <dom-bind>
        <template is="dom-bind">
            <h1 slot="kitchensink/integer-heading">Integer Input</h1>

            <p slot="kitchensink/integer-description">
                JSON's primitive value type
                <code>number</code> can be mapped directly to HTML form elements
                <code>input type="number"</code>.
            </p>

            <p slot="kitchensink/integer-info">
                A integer value is declared in Starcounter's JSON-by-example by providing an integer value, e.g.
                <code>0</code>
            </p>

            <label slot="kitchensink/integer-label">{{model.AgeReaction}}</label>

            <input slot="kitchensink/integer-input" type="number" value="{{model.Age$::input}}" placeholder="Age">
            <github-source-links></github-source-links>
        </template>
    </dom-bind>
    <template is="declarative-shadow-dom">
        <link rel="stylesheet" href="/sys/uniform.css/uniform.css">
        <div class="uni-section-secondary uni-title">
            <slot name="kitchensink/integer-heading"></slot>
        </div>
        <div class="uni-section-primary">
            <div class="uni-card">
                <slot name="kitchensink/integer-description"></slot>
                <slot name="kitchensink/integer-info"></slot>
                <div class="uni-label-control">
                    <slot name="kitchensink/integer-label"></slot>
                    <slot name="kitchensink/integer-input"></slot>
                </div>
            </div>
        </div>
    </template>
</template>
