<link rel="preload" as="style" href="/sys/uniform.css/uniform.css">
<link rel="import" href="/KitchenSink/elements/github-source-links.html">

<template>
    <dom-bind>
        <template is="dom-bind">
            <h1 slot="kitchensink/textarea-heading">Textarea</h1>

            <p slot="kitchensink/textarea-description">
                JSON's primitive value type
                <code>string</code> can be mapped directly to HTML form
                <code>textarea</code>.
            </p>

            <label slot="kitchensink/textarea-label">{{model.BioReaction}}</label>

            <textarea slot="kitchensink/textarea-textarea" value="{{model.Bio$::input}}" rows="3"></textarea>

            <github-source-links></github-source-links>
        </template>
    </dom-bind>
    <template is="declarative-shadow-dom">
        <link rel="stylesheet" href="/sys/uniform.css/uniform.css">
        <div class="uni-section-secondary uni-title">
            <slot name="kitchensink/textarea-heading"></slot>
        </div>
        <div class="uni-section-primary">
            <div class="uni-card">
                <slot name="kitchensink/textarea-description"></slot>
                <div class="uni-label-control">
                    <slot name="kitchensink/textarea-label"></slot>
                    <slot name="kitchensink/textarea-textarea"></slot>
                </div>
            </div>
        </div>
    </template>
</template>
